/* :root är toppen av sidan och används för att spara färger och andra värden som hela sidan kan använda */
:root{
    --färg-1: #dad8e1;
    --färg-logga: #fff2f2;
    --text-färg: #000000;
    --hover-färg: #fddddd;
    --text-footer: #000000;
    --hover-footer: #fddddd;

    --margin-nav: clamp(0.5rem, 2vw, 2rem);
 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--färg-1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-färg);
}


/* HEADER OCH NAV */

header {
    background-color: var(--färg-logga);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: clamp(0.8rem, 4vw + 0.4rem, 1.2rem);
}

nav a {
    text-decoration: none;
    color: var(--text-färg);
    margin: var(--margin-nav);
}

nav a:hover {
    background-color: var(--hover-färg);
}



/* FOOTER */

footer {
    background-color: var(--färg-logga);
    text-align: center;
    width: 100%;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
}

footer a {
    text-decoration: none;
    color: var(--text-footer);
}

footer a:hover {
    background-color: var(--hover-footer);
}


/* INSPO */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
    gap: 4em;
    padding: 1em;
    justify-content: center;
}

.item {
    padding: 0.5em;
    background-color: var(--färg-logga);
    color: var(--text-färg);
    text-align: center;
    border-radius: 8px;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
    
}

.item-ny {
    padding: 0.5em;
    background-color: var(--färg-logga);
    color: var(--text-färg);
    text-align: center;
    border-radius: 8px;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
    height: 450px;
}

.item-ny img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.item img, .item video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.insta {
    margin-top: 1%;
}

