* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.background-effect:hover {
    background-color: lightpink;
}

.nav-link {
    color: black;
    text-decoration: none;
}