/* :root är toppen av sidan och används för att spara färger och andra värden som hela sidan kan använda */
:root{
    --bakgrund-nav: #fff4ef;
    --text-färg: #000000;
    --hover-färg: #fddddd;
    --ram-logga: #dad8e1;
    --bakgrundsfärg: #fdf6f6;
    --bakgrund-footer: rgb(241, 226, 255);
    --ram-färg: #fff9f6;
    --tjänster-färg: #f3f2f7;
    --border-färg: #ffffff;
    --länk: #4d2eff;
    --ram-f: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bakgrundsfärg);
    color: var(--text-färg);
}

main {
    flex: 1;
}




/* ================ GEMENSAM STIL FÖR ALLA BOXAR/KORT ====================== */
.Om-kort-info, 
.P-tjänst, 
.Boka-hem p, 
.Info-under, 
.tjänst-kort, 
.boka-tid, 
.Kontaktuppgifter, 
.Adress, 
.Frågor-kategori, 
.Info-profil-box, 
.Inspo-kort {
    background: var(--tjänster-färg);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border: 4px solid var(--border-färg);
    width: 94%;
    max-width: 2200px;
    margin: 3em auto;
    padding: 2em;
}

.Om-kort-info, 
.P-tjänst,  
.boka-tid, 
.Kontaktuppgifter, 
.Adress {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    text-align: left;
}


/* ============================================== MENY ========================================================================== */
header {
    background-color: var(--bakgrund-nav);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Gör så att menyn ligger över innehållet */
    font-size: clamp(0.6rem, 4vw + 0.4rem, 1.2rem);
}

/* ================= NAVBAR ====================== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.6rem 1rem;
    border-bottom: 16px solid var(--ram-färg);
}

.logo img {
   height: 70px;
   width: auto;
   display: block;
   border: 2px solid var(--ram-logga);
   border-radius: 8px;
}

/* ====== Länkar ======= */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.2em;

}

.nav-links a {
    text-decoration: none;
    color: var(--text-färg);
    padding: 0.3rem 0.4rem;
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease;
}


.nav-links a:hover {
    background-color: var(--hover-färg);
}

/* ==================================================== FÖR MOBIL ======================================================== */
.burger {
    display: none;
    font-size: 1.8rem;
    background: transparent;
    border: none;
    color: var(--text-färg);
    cursor: pointer;
    line-height: 1;
    padding: 0.2rem;
}


@media (max-width: 770px) {
    .logo img {
        height: 48px;
        width: 50px;
        border: 1px solid var(--ram-logga);
    }
    .burger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--bakgrund-nav);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        padding: 0.8rem;
        display: none;
        flex-direction: column;
        gap: 0.4rem;
        min-width: 220px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        padding: 0.5rem 0.6rem;
    }


    .tjänster-kategorier {
        flex-direction: column;
        align-items: center;
    }

    .kategori {
        max-width: 90%;
    }

    .tjänst-kort {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 2em 1em;
    }

    .tjänst-bild {
        width: 100%;
        max-width: 300px;
        margin-top: 1em;
    }

    .profil-bild {
        width: 80%;
        max-width: 300px;
    }

    .tjänst-innehåll ul {
        display: inline-block;
        text-align: left;
        margin: 1.5em 0;
    }

    .tjänst-innehåll li {
        justify-content: space-between;
        gap: 2em;
        padding-bottom: 5px;
    }
    .AI p {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

}

/* ========================================================== STARTSIDA ==================================================================== */

.Välkommen {
    text-align: center;
    padding: 3em 1em;
}

.Välkommen h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.Välkommen p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}


/* ------ kort presentation ------ */

.Om-kort:hover {
    transform: scale(1.1);
}

.Om-kort {
    padding: 3em 1em;
    text-align: center;
    transition: transform 0.5s ease;
}

.Om-kort h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 300;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
}


.Om-kort-info h3 {
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: 300;
}

.Om-kort-info p {
    margin-bottom: 0.5em;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}
    


.Om-kort a {
    text-decoration: none;
    color:var(--länk);
}

/* ------ populära behandlingar ------ */

.Populära-behandlingar:hover {
    transform: scale(1.1);
}

.Populära-behandlingar {
    padding: 0.1em 1em;
    text-align: center;
    transition: transform 0.5s ease;
}


.Populära-behandlingar h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 300;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    text-align: center;
}

.Populära-behandlingar h3 {
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: 300;
}

.Populära-behandlingar p {
    margin-bottom: 0.5em;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
    text-align: start;
}

.Populära-behandlingar a {
    text-decoration: none;
    color:var(--länk);
}


/* ------ boka ------ */

.Boka-hem:hover {
    transform: scale(1.1);
}

.Boka-hem {
    padding: 3em 1em;
    text-align: center;
    transition: transform 0.5s ease;
}

.Boka-hem h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 300;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
}

.Boka-hem p {
    gap: 2em;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

.Boka-hem a {
    text-decoration: none;
    color:var(--länk);
}


/* ------ lite insperation med bilder ------ */

.Lite-inspo:hover {
    transform: scale(1.1);
}

.Lite-inspo {
    padding: 3em 1em;
    text-align: center;
    transition: transform 0.5s ease;
}

.Lite-inspo h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 300;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
}

.Inspo-behållare {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
    padding: 2em 1em;
}

.Inspo-kort {
    background: var(--tjänster-färg);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border: 4px solid var(--border-färg);
    width: 360px;
    padding: 20px;
    margin: 2em;
    display: flex;
    justify-content: center;
}

.Inspo-kort img {
    width: 300px;
    height: 400.5px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    transition: transform 0.5s ease;
}

.Inspo-kort img:hover {
    transform: scale(1.05);
}

.Lite-inspo a {
    text-decoration: none;
    color:var(--länk);

}

/* ------ snabb info ------ */

.Snabb-info:hover {
    transform: scale(1.1);
}

.Snabb-info {
    padding: 3em 1em;
    text-align: center;
    transition: transform 0.5s ease;
}

.Snabb-info h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 300;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
}

.Info-under {
    gap: 2em;
}

.Snabb-info p {
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

.Snabb-info a {
    text-decoration: none;
    color:var(--länk);
}

/* ========================================================== TJÄNSTER ==================================================================== */

.tjänster-intro {
    text-align: center;
    padding: 3em 1em;
}

.tjänster-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.tjänster-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.tjänster-intro h2 {
    font-size: clamp(1.2rem, 3.5vw, 1.8rem);
    font-weight: 300;
    margin-top: 1.5em;
}

.tjänster-kategorier {
    display: flex;
    justify-content: center;
    gap: 4em;
    text-align: center;
    flex-wrap: wrap;
}

.kategori {
    background: var(--tjänster-färg);
    padding: 1.5em;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    border: 4px solid var(--border-färg);
    margin: 0.5em;
}

.kategori h2 {
    margin-bottom: 0.5em;
    font-size: clamp(1.2rem, 4vw, 2.4rem);
    font-weight: 500;
    text-decoration: underline;
}

.kategori p {
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}


.tjänst-kort {
    gap: 2em;
    display: flex;
    align-items: flex-start;
}

.tjänst-innehåll {
    flex: 1;
}

.tjänst-rubrik {
    font-size: clamp(1.8rem, 5vw, 3rem);
    margin-bottom: 1em;
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    text-decoration: underline;
}

.tjänst-rubrik2 {
    font-size: clamp(1.8rem, 5vw, 3rem);
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    text-decoration: underline;
}

.tjänst-nivå {
    margin-bottom: 2em;
}

.tjänst-nivå h3 {
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: 300;
    margin-bottom: 0.3em;
}

.tjänst-kort p {
    margin-bottom: 0.5em;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

.pris {
    font-weight: bold;
    margin-top: 0.5em;
}

.tjänst-bild {
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid white;
    transition: transform 0.5s ease;
}

.tjänst-bild:hover {
    transform: scale(1.1);
}

.AI {
    text-align: center;
}

.AI p {
    font-size: clamp(0.7rem, 2vw, 0.9rem);
    margin-top: 1.5em;
    font-style: italic;
    color: #666;
}

.AI a {
    text-decoration: none;
    color: var(--länk);
}
    


.tjänst-innehåll ul {
    list-style: none;
    padding: 0;
}

.tjänst-innehåll li {
    margin-top: 1.5em;
    display: flex;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

.prisX {
    font-weight: bold;
    padding-left: 0.4em;
}







/* ========================================================== BOKNING ==================================================================== */


.Boka-intro {
    text-align: center;
    padding: 3em 1em;
}

.Boka-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.Boka-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}
.boka-tid:hover {
    transform: scale(1.1);
}

.boka-tid {
    margin-bottom: 5em;
    transition: transform 0.5s ease;
}

.boka-tid h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    margin-bottom: 0.5em;
}

.boka-tid p {
    margin-bottom: 0.5em;
    font-size: clamp(1rem, 3vw, 1.8rem);
}


/* ========================================================== INSPO ==================================================================== */


.inspo-intro {
    text-align: center;
    padding: 3em 1em;
}

.inspo-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.inspo-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.Instagram {
    text-decoration: none;
    text-shadow: 2px 4px 0 rgb(255, 193, 250);
    color: #000000;
    border-radius: 6px;
}

.inspo-intro a:hover {
    background-color: var(--hover-färg);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    gap: 3em;
    padding: 1em;
    justify-content: center;
}

.item {
    padding: 1em;
    background-color: var(--bakgrund-nav);
    color: var(--text-färg);
    text-align: center;
    border-radius: 8px;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
    border: 8px solid var(--ram-färg);
}

.item-ny {
    padding: 1em;
    background-color: var(--bakgrund-nav);
    color: var(--text-färg);
    text-align: center;
    border-radius: 8px;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
    height: 560px;
    border: 8px solid var(--ram-färg);
}

.item-ny img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s ease;

}

.item img, .item video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.item-ny img:hover {
    transform: scale(1.1);
}

.item img:hover {
    transform: scale(1.1);
}

.item video:hover {
    transform: scale(1.1);
}

.insta {
    margin-top: 1%;
}


/* ==================================================== INFO =========================================================== */

.info-intro {
    text-align: center;
    padding: 3em 1em;
}

.info-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.info-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.Om-mig-behållare {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Info-profil-box:hover {
    transform: scale(1.1);
}

.Info-profil-box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.5s ease;
}

.Info-profil-box h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 500;
    margin-bottom: 0.5em;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
}

.Info-profil-box p {
    margin-bottom: 0.5em;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

.profil-bilder-grupp {
    display: flex;
    justify-content: center;
    gap: 3.2em;
    margin: 2em 0;
    flex-wrap: wrap;
}


.profil-bild {
    width: 45%;
    max-width: 250px;
    border-radius: 18%;
    object-fit: cover;
    border: 5px solid var(--border-färg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.profil-bild:hover {
    transform: scale(1.4);
}

/* ==================================================== KONTAKT =========================================================== */

.Kontakt-intro {
    text-align: center;
    padding: 3em 1em;
}

.Kontakt-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.Kontakt-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.Kontaktuppgifter:hover {
    transform: scale(1.1);
}

.Kontaktuppgifter {
    margin-bottom: 5em;
    transition: transform 0.5s ease;
}

.Kontaktuppgifter h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    margin-bottom: 1em;
    text-decoration: underline;
}

.Kontaktuppgifter p {
    margin-bottom: 1.5em;
    font-size: clamp(1rem, 3vw, 1.8rem);
    font-weight: bold;
}

.Kontakt-M {
    text-decoration: none;
    color: #000000;
    border-radius: 6px;
    font-weight: 300;

}

.Kontaktuppgifter a:hover {
    background-color: var(--hover-färg);
}

.Adress:hover {
    transform: scale(1.1);
}

.Adress {
    margin-bottom: 5em;
    transition: transform 0.5s ease;
}

.Adress h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    margin-bottom: 1em;
    text-decoration: underline;
}

.Adress p {
    margin-bottom: 1.5em;
    font-size: clamp(1rem, 3vw, 1.8rem);
}

/* ==================================================== FAQ =========================================================== */

.vanliga-frågor {
    text-align: center;
    padding: 3em 1em;
}

.vanliga-frågor h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.vanliga-frågor p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.vanliga-frågor a:hover {
    background-color: var(--hover-färg);
}


.Frågor {
    max-width: 2200px;
    margin: 0 auto 5em auto;
    width: 94%;
}


.Frågor-kategori {
    gap: 1em;
}

.F-kategori-H2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.F-kategori-innehåll {
    display: none;
    flex-direction: column;
    gap: 1em;
}

.F-kategori-innehåll.visas {
    display: flex;
}

.Fråga {
    padding-top: 1em;
}

.F-rubrik {
    font-size: clamp(1rem, 3vw, 1.8rem);
    font-weight: bold;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    padding: 0.3em 0;
}

.F-svar {
    display: none;
    padding-bottom: 1em;
    margin-top: 1em;
}

.F-svar p {
    font-size: clamp(1rem, 3vw, 1.8rem);
}

.F-svar.visas {
    display: block;
}

.F-svar a {
    font-weight: 300;
    text-decoration: none;
    color: var(--länk);
    font-size: clamp(1rem, 3vw, 1.8rem);
}

.Bokning-länk {
    text-decoration: none;
    color: var(--länk);
}

/* ==================================================== FOOTER =========================================================== */

footer {
    background-color: var(--bakgrund-footer);
    text-align: center;
    width: 100%;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
    border-top: 16px solid var(--ram-f);
    padding: 1.5em;
    padding-bottom: 2.5em;
}

footer a {
    text-decoration: none;
    color: var(--text-färg);
    padding: 0.3rem 0.4rem;
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

footer a:hover {
    background-color: var(--hover-färg);
}

