/* :root är toppen av sidan och används för att spara färger och andra värden som hela sidan kan använda */
:root{
    --bakgrund-nav: #fff4ef;
    --text-färg: #000000;
    --hover-färg: #fddddd;
    --ram-logga: #dad8e1;
    --bakgrundsfärg: #fdf6f6;
    --bakgrund-footer: rgb(251, 246, 255);
    --ram-färg: #fff9f6;
    --tjänster-färg: #f3f2f7;
    --border-färg: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bakgrundsfärg);
    color: var(--text-färg);
}

main {
    flex: 1;
}


/* ============================================== MENY ========================================================================== */
header {
    background-color: var(--bakgrund-nav);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Gör så att menyn ligger över innehållet */
    font-size: clamp(0.6rem, 4vw + 0.4rem, 1.2rem);
}

/* ================= NAVBAR ====================== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.6rem 1rem;
    border-bottom: 16px solid var(--ram-färg);
}

.logo img {
   height: 70px;
   width: auto;
   display: block;
   border: 2px solid var(--ram-logga);
   border-radius: 8px;
}

/* ====== Länkar ======= */
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.2em;

}

.nav-links a {
    text-decoration: none;
    color: var(--text-färg);
    padding: 0.3rem 0.4rem;
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease;
}


.nav-links a:hover {
    background-color: var(--hover-färg);
}

/* ==================================================== FÖR MOBIL ======================================================== */
.burger {
    display: none;
    font-size: 1.8rem;
    background: transparent;
    border: none;
    color: var(--text-färg);
    cursor: pointer;
    line-height: 1;
    padding: 0.2rem;
}


@media (max-width: 770px) {
    .logo img {
        height: 50px;
        border: 1px solid var(--ram-logga);
    }
    .burger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--bakgrund-nav);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        padding: 0.8rem;
        display: none;
        flex-direction: column;
        gap: 0.4rem;
        min-width: 220px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        padding: 0.5rem 0.6rem;
    }

    .tjänster-kategorier {
        flex-direction: column;
        align-items: center;
    }

    .kategori {
        max-width: 90%;
    }

    .tjänst-kort {
        flex-direction: column;
        text-align: center;
    }

    .tjänst-bild {
        width: 100%;
        max-width: 300px;
        margin-top: 1em;
    }

}

/* ========================================================== STARTSIDA ==================================================================== */

.Välkommen {
    text-align: center;
    padding: 3em 1em;
}

.Välkommen h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    margin-bottom: 0.5em;
    font-weight: 500;
    font-style: italic;
}

.Välkommen p {
    font-style: italic;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 100;
}

.Om-kort, .Populära-behandlingar, .Lite-inspo, .Boka-hem, .Snabb-info {
    max-width: 2000px;
    margin: 2em auto;
    padding: 0 1em;
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}

.Om-kort p, .Snabb-info ul {
    font-size: clamp(0.8rem, 2.5vw, 1.2rem);
}

.Snabb-info ul {
    list-style: none;
    
}

.Populära-behandlingar .P-tjänster {
    
}

.Inspo {
   
}



/* ========================================================== TJÄNSTER ==================================================================== */

.tjänster-intro {
    text-align: center;
    padding: 3em 1em;
}

.tjänster-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.tjänster-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.tjänster-intro h2 {
    font-size: clamp(1.2rem, 3.5vw, 1.8rem);
    font-weight: 300;
    margin-top: 1.5em;
}

.tjänster-kategorier {
    display: flex;
    justify-content: center;
    gap: 4em;
    text-align: center;
    flex-wrap: wrap;
}

.kategori {
    background: var(--tjänster-färg);
    padding: 1.5em;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    border: 4px solid var(--border-färg);
    margin: 0.5em;
}

.kategori h2 {
    margin-bottom: 0.5em;
    font-size: clamp(1.2rem, 4vw, 2.4rem);
    font-weight: 500;
    text-decoration: underline;
}

.kategori p {
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}


.tjänst-kort {
    display: flex;
    gap: 2em;
    padding: 2em;
    background: var(--tjänster-färg);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    align-items: flex-start;
    margin: 3em auto;
    max-width: 2200px;
    border: 4px solid var(--border-färg);
    width: 94%;
}

.tjänst-innehåll {
    flex: 1;
}

.tjänst-rubrik {
    font-size: clamp(1.8rem, 5vw, 3rem);
    margin-bottom: 1em;
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    text-decoration: underline;
}

.tjänst-rubrik2 {
    font-size: clamp(1.8rem, 5vw, 3rem);
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    text-decoration: underline;
}

.tjänst-nivå {
    margin-bottom: 2em;
}

.tjänst-nivå h3 {
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: 300;
    margin-bottom: 0.3em;
}

.tjänst-kort p {
    margin-bottom: 0.5em;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

.pris {
    font-weight: bold;
    margin-top: 0.5em;
}

.tjänst-bild {
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.AI {
    text-align: center;
}

.AI p {
    font-size: clamp(0.4rem, 2vw, 0.8rem);
}
    



.tjänster-extras {
    display: flex;
    gap: 2em;
    padding: 2em;
    background: var(--tjänster-färg);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    align-items: flex-start;
    margin: 3em 1em;
    max-width: 2200px;
    border: 4px solid var(--border-färg);
    max-width: 2200px;
    margin: 3em auto;
    flex-direction: column;
    width: 94%;
}

.tjänster-extras ul {
    list-style: none;
    padding: 0;
}

.tjänster-extras li {
    margin-bottom: 0.5em;
    display: flex;
    font-size: clamp(0.8rem, 2.5vw, 1.4rem);
}

.prisX {
    font-weight: bold;
    padding-left: 0.4em;
}







/* ========================================================== BOKNING ==================================================================== */


.Boka-intro {
    text-align: center;
    padding: 3em 1em;
}

.Boka-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.Boka-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.boka-tid {
    display: flex;
    gap: 2em;
    padding: 2em;
    background: var(--tjänster-färg);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    align-items: flex-start;
    margin: 3em auto;
    max-width: 2200px;
    border: 4px solid var(--border-färg);
    width: 94%;
    margin-bottom: 5em;
}

.boka-tid h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 500;
    text-shadow: 2px 4px 0 rgb(215, 219, 255);
    margin-bottom: 0.5em;
}

.boka-tid p {
    margin-bottom: 0.5em;
    font-size: clamp(1rem, 3vw, 1.8rem);
}


/* ========================================================== INSPO ==================================================================== */


.inspo-intro {
    text-align: center;
    padding: 3em 1em;
}

.inspo-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.inspo-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.Instagram {
    text-decoration: none;
    text-shadow: 2px 4px 0 rgb(255, 193, 250);
    color: #000000;
    border-radius: 6px;
}

.inspo-intro a:hover {
    background-color: var(--hover-färg);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    gap: 3em;
    padding: 1em;
    justify-content: center;
}

.item {
    padding: 1em;
    background-color: var(--bakgrund-nav);
    color: var(--text-färg);
    text-align: center;
    border-radius: 8px;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
    border: 8px solid var(--ram-färg);
}

.item-ny {
    padding: 1em;
    background-color: var(--bakgrund-nav);
    color: var(--text-färg);
    text-align: center;
    border-radius: 8px;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
    height: 560px;
    border: 8px solid var(--ram-färg);
}

.item-ny img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.item img, .item video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}

.insta {
    margin-top: 1%;
}


/* ==================================================== INFO =========================================================== */

.info-intro {
    text-align: center;
    padding: 3em 1em;
}

.info-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.info-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

/* ==================================================== KONTAKT =========================================================== */

.Kontakt-intro {
    text-align: center;
    padding: 3em 1em;
}

.Kontakt-intro h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.Kontakt-intro p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}


/* ==================================================== FAQ =========================================================== */

.vanliga-frågor {
    text-align: center;
    padding: 3em 1em;
}

.vanliga-frågor h1 {
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-style: italic;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.vanliga-frågor p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-weight: 300;
}

.vanliga-frågor a:hover {
    background-color: var(--hover-färg);
}


/* ==================================================== FOOTER =========================================================== */

footer {
    background-color: var(--bakgrund-footer);
    text-align: center;
    width: 100%;
    font-size: clamp(0.4rem, 4vw + 0.2rem, 1rem);
}

footer a {
    text-decoration: none;
    color: var(--text-färg);
    border-radius: 6px;
}

footer a:hover {
    background-color: var(--hover-färg);
}

